{% extends 'base.html.twig' %}

{% block body %}
    {% block main %}
    <!-- Hero Section Begin -->
        <section class="hero">
            <div class="container">
                <div class="hero__slider owl-carousel">
                    <div class="hero__items set-bg" data-setbg="img/hero/hero-1.jpg">
                        <div class="row col-lg-8">
                            <div class="hero__text">
                                <div class="label">Adventure</div>
                                <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                <p>After 30 days of travel across the world...</p>
                                <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>            
                        </div>
                    </div>
                    <div class="hero__items set-bg" data-setbg="img/hero/hero-1.jpg">
                        <div class="row col-lg-8">
                            <div class="hero__text">
                                <div class="label">Adventure</div>
                                <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                <p>After 30 days of travel across the world...</p>
                                <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>                    
                        </div>
                    </div>
                    <div class="hero__items set-bg" data-setbg="img/hero/hero-1.jpg">
                        <div class="row col-lg-8">
                            <div class="hero__text">
                                <div class="label">Adventure</div>
                                <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                <p>After 30 days of travel across the world...</p>
                                <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>                    
                        </div>
                    </div>
                    <div class="hero__items set-bg" data-setbg="img/hero/hero-1.jpg">
                        <div class="row col-lg-8">
                            <div class="hero__text">
                                <div class="label">Adventure</div>
                                <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                <p>After 30 days of travel across the world...</p>
                                <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>                    
                        </div>
                    </div>
                    <div class="hero__items set-bg" data-setbg="img/hero/hero-1.jpg">
                        <div class="row col-lg-8">
                            <div class="hero__text">
                                <div class="label">Adventure</div>
                                <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                <p>After 30 days of travel across the world...</p>
                                <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>                    
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- Hero Section End -->

    <!-- Product Section Begin -->
        <section class="product spad">
            <div class="container">
                <div class="row">
                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Popular Shows</h4>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-end">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__text">
                                        <a href="#">
                                            <h5>Sen to Chihiro no Kamikakushi hytdhc nghchnc hncn,c,hc ,hh</h5>
                                            <div class="product__item__pic set-bg" data-setbg="img/popular/popular-1.jpg">
                                                <div class="ep">19 / 20</div>
                                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__text">
                                        <a href="#">
                                            <h5>Sen to Chihiro no Kamikakushi</h5>
                                            <div class="product__item__pic set-bg" data-setbg="img/popular/popular-1.jpg">
                                                <div class="ep">19 / 20</div>
                                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__text">
                                        <a href="#">
                                            <h5>Sen to Chihiro no Kamikakushi</h5>
                                            <div class="product__item__pic set-bg" data-setbg="img/popular/popular-1.jpg">
                                                <div class="ep">19 / 20</div>
                                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__text">
                                        <a href="#">
                                            <h5>Sen to Chihiro no KamikakushiSen Sen to Chihiro no Kamikakushi</h5>
                                            <div class="product__item__pic set-bg" data-setbg="img/popular/popular-1.jpg">
                                                <div class="ep">19 / 20</div>
                                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recent__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Les Animes Populaires</h4>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-end">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__text">
                                        <a href="#">
                                            <h5>Sen to Chihiro no Kamikakushi</h5>
                                            <div class="product__item__pic set-bg" data-setbg="img/popular/popular-1.jpg">
                                                <div class="ep">19 / 20</div>
                                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__text">
                                        <a href="#">
                                            <h5>Sen to Chihiro no Kamikakushi</h5>
                                            <div class="product__item__pic set-bg" data-setbg="img/popular/popular-1.jpg">
                                                <div class="ep">19 / 20</div>
                                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__text">
                                        <a href="#">
                                            <h5>Sen to Chihiro no Kamikakushi</h5>
                                            <div class="product__item__pic set-bg" data-setbg="img/popular/popular-1.jpg">
                                                <div class="ep">19 / 20</div>
                                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__text">
                                        <a href="#">
                                            <h5>Sen to Chihiro no Kamikakushi  vjchgchncnjjc,h</h5>
                                            <div class="product__item__pic set-bg" data-setbg="img/popular/popular-1.jpg">
                                                <div class="ep">19 / 20</div>
                                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!-- Product Section End -->
    {% endblock %}
{% endblock %}
